/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* Custom CSS to style the buttons */
.custom-button {
    display: inline-block;
    background-color: transparent;
    color: #000; /* Set your desired text color */
    border: 1px solid #000; /* Set your desired border color */
    border-radius: 0; /* Remove border radius for a flat appearance */
    transition: color 0.3s, background-color 0.3s; /* Add transitions for smooth hover and click effects */
}

    .custom-button:hover {
        background-color: #ccc; /* Change background color on hover */
    }

    .custom-button.active {
        background-color: #333; /* Change background color when clicked */
        color: #fff; /* Change text color when clicked */
    }
