@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mirror RX</h1>
    <p> <a class="nav-link text-dark" asp-area="" asp-page="/UserLoginViewModels/DermUserLogin">Log in to Derm Account</a>.</p>
    <p></p>
    <p></p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/UserLoginViewModels/DermCreateProfile">Create a Derm account</a>.</p>

</div>
