@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mirror RX</h1>
    <p>Option 1: <a class="nav-link text-dark" asp-area="" asp-page="/UserProfiles/Edit">Update acne profile</a>.</p>
    <p>Option 2: <a class="nav-link text-dark" asp-area="" asp-page="/UserAssessments/Index">Assessment of acne severity</a>.</p>
    <p>Option 3: <a class="nav-link text-dark" asp-area="" asp-page="/UserDermRequests/Get a derm">Request a derm</a>.</p>

</div>
