@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mirror RX</h1>
    <p>Option 1: <a href="https://docs.microsoft.com/aspnet/core">Create a profile</a>.</p>
    <p>Option 2: <a class="nav-link text-dark" asp-area="" asp-page="/UserAssessments/Create">Assessment of acne severity</a>.</p>
    <p>Option 3: <a href="https://docs.microsoft.com/aspnet/core">Supplemental acne score</a>.</p>
    <p>Option 4: <a href="https://docs.microsoft.com/aspnet/core">Get help from derm</a>.</p>

</div>
